body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
h1{
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,110px);
    grid-template-rows: repeat(2, 110px);
    gap: 50px;
    row-gap: 170px;
    column-gap: 120px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    
}
#one,#two,#three,#four,#five,#six,#seven,#eight{
    background-color: #9b297b;
    height: 190px;
    width: 140px;
    border: 5px solid #F3C623;
    border-radius: 10px;
    opacity: 0.7;
    cursor: pointer;
}
#one:hover,#two:hover,#three:hover,#four:hover,#five:hover,#six:hover,#seven:hover,#eight:hover{
    opacity: 1;
    height: 210px;
    width: 160px;
    transition: 0.8s;
}

