body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
h1{
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,110px);
    grid-template-rows: repeat(2, 110px);
    gap: 50px;
    row-gap: 170px;
    column-gap: 120px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 60px;
    
}

.card {
    width: 140px;
    height: 190px;
    perspective: 1000px; /* Enables 3D effect */
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.5s ease, visibility 0.5s ease
    /* box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
    
}
.card:hover{
    opacity: 1;
    width: 165px;
    height: 215px;
    transition: 0.8s;
    /* box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
    
}
.card:hover h2{
    color: #F3C623;
    transition: 0.8s;
    font-size: 27px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hides the back side when flipped */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #fff;
    border-radius: 10px;
}

.card-front {
    background-color: #9b297b;
    border:5px solid #F3C623 ;
}

.card-back {
    /* background-color: #023e8a; */
    transform: rotateY(180deg); /* Initially flipped */
}

.card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Flipped state */
.card.flipped .card-inner {
    transform: rotateY(180deg);
}
h1{
    font-family: Lilita One;
    font-size: 70px;
    letter-spacing: 4px;
    word-spacing: 30px;
    background: linear-gradient(45deg, #00BFFF, #FF00FF, #FFD700);
    -webkit-background-clip: text;
    color: transparent; /*Makes the text transparent so gradient shows */
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
}


/* .card1{
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.card2{
    box-shadow: none;
} */ Not required 
h2{
    font-family: Doto;
    text-align: center;
}

